<div class="container">
  <h2 class="login row justify-content-md-center">Please login</h2>
  <form
    class="row justify-content-md-center"
    [formGroup]="loginForm"
    (ngSubmit)="loginUser()"
    novalidate
  >
    <div class="col col-lg-3">
      <div
        class="input mb-3 {{
          (loginForm.controls['usernameInput'].dirty &&
            loginForm.controls['usernameInput'].errors) ||
          (checkError && loginForm.controls['usernameInput'].errors)
            ? 'fError'
            : ''
        }} {{
          loginForm.controls['usernameInput'].dirty &&
          !loginForm.controls['usernameInput'].errors
            ? 'fSuccess'
            : ''
        }}"
      >
        <label>Username:</label>
        <input
          class="form-control mb-2"
          type="text"
          name="usernameInput"
          formControlName="usernameInput"
        />
        <small
          class="form-text text-muted"
          *ngIf="
            (loginForm.controls['usernameInput'].dirty &&
            loginForm.controls['usernameInput'].errors?.['required']) || (checkError && loginForm.controls['usernameInput'].errors?.['required'])
          "
        >
          Please enter username!
        </small>

        <small
          class="form-text text-muted"
          *ngIf="
            (loginForm.controls['usernameInput'].dirty &&
            loginForm.controls['usernameInput']['errors']?.['minlength']?.['actualLength'] > 0) || (checkError && loginForm.controls['usernameInput']['errors']?.['minlength']?.['actualLength'] > 0)
          "
        >
          Usernane should have more then 1 character.!
        </small>
      </div>
      <div
        class="input mb-3 {{
          (loginForm.controls['emailInput'].dirty &&
            loginForm.controls['emailInput'].errors) ||
          (checkError && loginForm.controls['emailInput'].errors)
            ? 'fError'
            : ''
        }} {{
          loginForm.controls['emailInput'].dirty &&
          !loginForm.controls['emailInput'].errors
            ? 'fSuccess'
            : ''
        }}"
      >
        <label>E-mail:</label>
        <input
          class="form-control mb-2"
          type="email"
          name="emailInput"
          formControlName="emailInput"
        />

        <small
          class="form-text text-muted"
          *ngIf="
          (loginForm.controls['emailInput'].dirty &&
          loginForm.controls['emailInput'].errors?.['required']) || (checkError && loginForm.controls['emailInput'].errors?.['required']) 
        "
        >
          Please enter email address.!
        </small>

        <small
          class="form-text text-muted"
          *ngIf="
          (loginForm.controls['emailInput'].dirty &&
          loginForm.controls['emailInput'].errors?.['email']) || (checkError && loginForm.controls['emailInput'].errors?.['email'])
        "
        >
          Email address not well formed.!
        </small>
      </div>
      <div class="input">
        <button type="submit" value="Login" class="submitButton">Log in</button>
      </div>
      <span style="color: red" *ngIf="checkCredentials">Wrong credentials</span>
    </div>
  </form>
</div>
<div class="loginInfo container">
  In order to login you can use any pair of username and email from the
  <a href="https://jsonplaceholder.typicode.com/users" target="_blank"
    >jsonplaceholder.typicode.com/users</a
  >
  list.
  <br />
  For example:
  <br />
  username: bret
  <br />
  email: sincere@april.biz
</div>
