<h2 style="text-align: center">
  {{ "Hello " + todoService.userDisplay + "!" }}
</h2>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col">
      <p style="text-align: center">
        Total: {{ todoService.todos.length }} Todos
        <br />
        Completed: {{ todoService.todosCompleted.length }} Todos
      </p>

      <!---Todos controls --->
      <div class="input-group mb-3">
        <div class="todosDisplayOptions">
          <div class="todosPagination">
            <div class="todosNumber">
              <button
                (click)="this.todosNum(5)"
                class="btn btn-secondary {{
                  todoService.num === 5 ? 'chosen' : ''
                }}"
                title="Show 5 todos in page"
              >
                5
              </button>
              <button
                (click)="this.todosNum(10)"
                class="btn btn-secondary {{
                  todoService.num === 10 ? 'chosen' : ''
                }}"
                title="Show 10 todos in page"
              >
                10
              </button>
              <button
                (click)="this.todosNum(20)"
                class="btn btn-secondary {{
                  todoService.num === 20 ? 'chosen' : ''
                }}"
                title="Show 20 todos in page"
              >
                20
              </button>
            </div>
            <div class="fwRw">
              <button
                (click)="this.navigateTodos('rw')"
                class="btn btn-secondary {{
                  todoService.startIndex <= 0 ? 'disabled' : ''
                }}"
                title="Show previous {{ todoService.num }} todos"
              >
                <<
              </button>
              <button
                (click)="this.navigateTodos('fw')"
                class="btn btn-secondary {{
                  todoService.startIndex + todoService.num >=
                  todoService.todos.length
                    ? 'disabled'
                    : ''
                }}"
                title="Show next {{ todoService.num }} todos"
              >
                >>
              </button>
            </div>
          </div>
          <div class="container">
            <div class="todoDone">
              <div class="todoDoneBtn" (click)="todoService.todoDone()">
                <fa-icon
                  *ngIf="todoService.displayTodoDone"
                  [icon]="eyeSlashIcon"
                  title="Hide completed todos"
                ></fa-icon>
                <fa-icon
                  *ngIf="!todoService.displayTodoDone"
                  [icon]="eyeIcon"
                  title="Show completed todos"
                ></fa-icon>
              </div>
            </div>

            <button
              class="btn btn-outline-secondary btn-primary addTodoBtn"
              style="color: white"
              type="button"
              id="button-addon2"
              (click)="addTodoPage()"
            >
              Add Todo
            </button>
          </div>
        </div>
      </div>
      <!---Todos table --->
      <table class="table table-striped mainTable">
        <tbody>
          <tr *ngFor="let todo of todoService.displayTodos; let i = index">
            <td class="{{ todo.new ? 'newTodo' : '' }}">
              <table class="specialTable">
                <tr class="specialTR">
                  <td scope="row">{{ todoService.startIndex + i + 1 }}</td>

                  <td width="21">
                    <table>
                      <tr>
                        <td class="new" *ngIf="todo.new">
                          <span>new todo</span>
                        </td>
                      </tr>
                    </table>
                  </td>
                  <td
                    class=" todoTitle {{ todo.completed ? 'done' : '' }}"
                    (click)="this.done(todo)"
                  >
                    {{ todo.title }}
                  </td>
                  <td
                    class="date {{ todo.completed ? 'done' : '' }}"
                    (click)="this.done(todo)"
                  >
                    {{ todo.date | date: "d/LL/yy" }}
                  </td>

                  <td width="15">
                    <table>
                      <tr>
                        <td
                          *ngIf="todo.completed"
                          class="remove"
                          style="color: #333; font-weight: bold"
                          (click)="this.remove(todo)"
                        >
                          <fa-icon [icon]="trashCan" title="Delete"></fa-icon>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
