.remove,
.todoTitle {
  cursor: pointer;
  width: 64%;
  word-break: break-word;
}

.date {
  font-size: 12px;
  line-height: 1.4rem;
}
.todosDisplayOptions {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;

  background-color: #fff;

  justify-content: space-between;
}

.todosDisplayOptions .container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 12px 0;
}
.todoDoneBtn {
  font-size: 24px;
  cursor: pointer;
}
.fwRw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.todosNumber {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.todosNumber button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.addTodoBtn {
  width: 100px;
  height: 40px;
}
.fwRw button {
  font-size: 0.8em;
  padding: 4px;
  line-height: 1em;
}
.mainTable {
  margin-bottom: 30px;
}

.chosen {
  background-color: #555;
}
.container {
  position: relative;
}

td.newTodo {
  border: 1px solid green;
}
td.new span {
  font-size: 10px;
  color: green;
  padding: 1%;
  text-align: center;
  line-height: 1.2em;
}
.done {
  text-decoration: line-through;
}
tr.specialTR {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
}
tr.specialTR * {
  display: inline-grid;
}
.specialTable {
  width: 100%;
}
.todosPagination {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .todosNumber button {
    width: 34px;
    height: 34px;
    padding: 0;
    font-size: 15px;
  }
  .todosNumber {
    gap: 0.6rem;
  }
}
