.remove,
.todoTitle {
  cursor: pointer;
}
.fwRw {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 0px rgb(0 0 0 / 30%);
  justify-content: center;
}
.fwRw button {
  font-size: 0.8em;
  padding: 4px;
  line-height: 1em;
  margin: 0 10px;
}
.mainTable {
  margin-bottom: 70px;
}

.chosen {
  background-color: #555;
}
.container {
  position: relative;
}
