/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

.input span {
  color: red;
}

.submitButton {
  color: white;
  background-color: #0d6efd;
  padding: 6px 24px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.5);
}
input.submitButton:hover {
  background-color: #334488;
}
h2.login {
  display: block;
  text-align: center;
}

.submitButton:hover {
  background-color: #334488;
}

.fError .form-control {
  color: #212529;
  background-color: #fff;
  border-color: #ff0000;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.25);
}
form .input {
  position: relative;
}
.fSuccess:after {
  content: "\f00c";
  font: var(--fa-font-solid);
  position: absolute;
  right: 6px;
  bottom: 10px;
}
.fError:after {
  content: "\f071";
  font: var(--fa-font-solid);
  position: absolute;
  right: 6px;
  top: 34px;
}
.addTodoForm .fError:after,
.addTodoForm .fSuccess:after {
  content: "";
}
.fSuccess .form-control {
  border-color: #86b7fe;
  outline: 0;
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(134, 183, 254, 0.25);
}
.disabled,
.disabled:hover {
  background-color: #555;
  pointer-events: none;
}
